<nav id="main-nav--sketch" class="navbar">
  <div class="container">
    <!-- assign current_collection -->
    {% for col in site.collections %}
      {% for doc in col.docs %}
        {% if doc.id == page.id %}
          {% assign current_collection = col.label %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <h2><a class="navbar-back" href="../../">👈 {{ current_collection }} / {{ page.title }}</a></h2>
    <!-- todo: add mobile menu -->

    <ul>
      {% for col in site.collections %}
        {% if col.label == current_collection %}
          {% for doc in col.docs %}
            {% if page.url == doc.url %}
            <li><a class="current" href="{{ site.baseurl }}{{ doc.url }}">{{ forloop.index }}</a></li>
            {% else %}
            <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ forloop.index }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
