<nav id="main-nav--sketch" class="navbar">
  <div class="container">
    <h2><a class="navbar-back" href="../../">< {{ current_collection }}</a></h2>
    <!-- todo: add mobile menu -->

    <!-- assign current_collection -->
    {% for col in site.collections %}
      {% for doc in col.docs %}
        {% if doc.id == page.id %}
          {% assign current_collection = col.label %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <ul class="nav navbar-nav navbar-right">
      {% for col in site.collections %}
        {% if col.label == current_collection %}
          {% for doc in col.docs %}
            <li><a class="page-scroll" href="{{ site.baseurl }}{{ doc.url }}">{{ forloop.index0 }}</a></li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
