:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-monospace);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

*, ::after, ::before {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

canvas {
  display: block;
}

img {
  max-width: 100%;
}

a {
  color: blue;
  &:hover {
    color: rgb(7, 7, 165);
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#header-main {
  position: relative;
}

#main-nav {
  // sr-only
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.navbar {
  // position: fixed;
  border: 1px solid #ddd;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  top: 8px;
  left: 8px;
  right: calc(256px + 18px);
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    height: 60px;
  }
  ul,
  h2 {
    margin: 0;
  }
  ul {
    margin-left: auto;
    overflow: auto;
    white-space: nowrap;
    padding-left: 1rem;

    a {
      padding: 4px;
      display: inline-block;
      margin-top: 0.4em;
    }
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    &.current {
      text-decoration: underline;
      color: black;
    }
  }
}

#header-main {
  min-height: 100%;
  background: black;
}
.header-main-content {
  position: absolute;
  bottom: 0px;
  color: white;
}

.projects-item {
  a {
    display: block;
    text-decoration: none;
  }
  img {
    border: 1px solid #ddd;
  }
}

.projects-item--caption div {
  display: inline-block;
}
.projects-item--category {
  padding-right: .6rem;
}

#main-nav--sketch {
  position: fixed;
  z-index: 1;
  opacity: 0;
  transition: opacity .2s .3s ease;
}

#main-nav--sketch .container {
  max-width: none;
}

#main-nav--sketch:hover {
  opacity: 1;
  transition: opacity .2s ease;
}

.hide {
  display: none !important;
}
